templates/base/workflow-base-v1.0.0.yaml
app:
  description: 全案件で再利用可能なベーステンプレ（Dify v0.6.0 advanced-chat）
  icon: 🤖
  icon_background: '#FFFFFF'
  mode: advanced-chat
  name: Workflow Base Template v1.0.0
  use_icon_as_answer_icon: false

dependencies: []

kind: app
version: 0.6.0

workflow:
  conversation_variables:
  - description: 会話スロット変数（key-value形式）
    id: cv_slots_base
    name: cv_slots
    selector:
    - conversation
    - cv_slots
    value: {}
    value_type: object
  - description: フェーズ管理変数
    id: cv_state_base
    name: cv_state
    selector:
    - conversation
    - cv_state
    value: ''
    value_type: string

  environment_variables: []

  features:
    file_upload:
      enabled: false
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''

  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: base-start-source-llm-target
      selected: false
      source: base-node-start
      sourceHandle: source
      target: base-node-llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: base-llm-source-answer-target
      selected: false
      source: base-node-llm
      sourceHandle: source
      target: base-node-answer
      targetHandle: target
      type: custom
      zIndex: 0

    nodes:
    - data:
        selected: false
        title: ユーザー入力
        type: start
        variables: []
      height: 73
      id: base-node-start
      position:
        x: 0
        y: 200
      positionAbsolute:
        x: 0
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242

    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          enabled: true
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: base-system-prompt
          role: system
          text: |
            あなたは親切なAIアシスタントです。
            ユーザーの質問に対して、丁寧に回答してください。

            【基本ルール】
            - 常に日本語で回答する
            - 不明な点は確認してから回答する
            - 回答は簡潔かつ明確にする
        selected: false
        title: LLM応答
        type: llm
        variables: []
        vision:
          enabled: false
      height: 140
      id: base-node-llm
      position:
        x: 300
        y: 200
      positionAbsolute:
        x: 300
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242

    - data:
        answer: '{{#base-node-llm.text#}}'
        selected: false
        title: 回答出力
        type: answer
        variables: []
      height: 107
      id: base-node-answer
      position:
        x: 600
        y: 200
      positionAbsolute:
        x: 600
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
